<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="http://unpkg.com/axios"></script>
    <script src="https://www.jq22.com/jquery/vue2.6.10.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>新闻列表123</h1>
      <ul>
        <li v-for="item in news" :key="item.id">{{ item.title }}</li>
      </ul>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          news: [],
        },
        async mounted() {
          let res = await axios.get("/news");
          console.log("请求的结果", res.data);
          this.news = res.data;
          console.log("啦啦啦啦");
        },
      });
    </script>
  </body>
</html>
