<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>新闻列表</h1>
    <ul>
      <% for(let i=0; i < news.length; i++) { %>
      <li><%= news[i].title %></li>
      <% } %>
    </ul>
  </body>
</html>
